<div class="span12">
    <div class="span12">
            <h4 class="pull-left" style="margin-top:0!important;margin-left:10px;color:cornflowerblue;margin-bottom: 15px!important;">Thông tin sản phẩm</h4>
        <div class="box-search">
        </div>
        @*<div class="span12" style="margin-bottom: 15px!important;">
                <div class="span4 pull-right">
                    <a class="btn btn-primary btn-small input-circle" href="javascript:void(0)" id="btnGridSave" onclick="Update()">
                        @Resources.Multi.btnSave
                    </a>
                    <a class="btn btn-success btn-small input-circle" onclick="Create()" href="javascript:void(0)" id="">
                        @Resources.Multi.Add
                    </a>
                    @if (ViewBag.Delete)
                    {
                        <a class="btn btn-danger btn-small input-circle" href="javascript:void(0)" onclick="showConfirmPopup(1)" id="btnGridDelete">
                            @Resources.Multi.Delete
                        </a>
                    }
                </div>
            </div>*@
    </div>
    <div class="span12">
        <form id="frm" action="@Url.Action("Upsert", "Product_Info")" enctype="multipart/form-data" method="POST">
            <div class="span6">
                <div>
                    <div class="span6">
                        <input id="id" name="id" type="hidden" />
                        <label>Mã sản phẩm</label>
                        <input id="ma_san_pham" name="ma_san_pham" class="span10" type="text" style="font-weight:bold; color:red;" readonly />
                    </div>
                    <div class="span6">
                        <label>Tên sản phẩm*</label>
                        <input id="ten_san_pham" name="ten_san_pham" class="span10" />
                    </div>
                </div>
                <div>
                    <div class="span6">
                        <label>Trọng số*</label>
                        <input class="format-right span10" id="trong_so" name="trong_so" />
                    </div>
                    <div class="span6">
                        <label>Từ khóa</label>
                        <input class="span10" id="tu_khoa" name="tu_khoa" />
                    </div>
                </div>

                <div>
                    <label>Tag</label>
                    <input class="span11" id="tag" name="tag" />
                </div>
                <div>
                    <label>Slug</label>
                    <input class="span11" id="slug" name="slug" />
                </div>
                <div>
                    <label>Mô tả*</label>
                    <textarea id="mo_ta" name="mo_ta" class="span11" style="overflow:hidden; word-wrap:break-word; resize:vertical; height:52px;"></textarea>
                </div>
                <div>
                    <div class="span6">
                        <label>Trạng thái</label>
                        <select id="trang_thai" name="trang_thai" class="select-chosen span10">
                            @foreach (var item in ViewBag.listStatus)
                            {
                                <option value="@item.ParamID">@item.Value</option>
                            }
                        </select>
                    </div>
                    <div class="span6">
                        <label>Trạng thái duyệt</label>
                        <select id="trang_thai_duyet" name="trang_thai_duyet" class="select-chosen span10">
                            @foreach (var item in ViewBag.listStatusDuyet)
                            {
                                <option value="@item.ParamID">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <div class="span6">
                        <label>Ngày duyệt:</label>
                        <input id="ngay_duyet" name="ngay_duyet" class="format-right span10 date-picker" disabled/>
                    </div>
                    <div class="span6">
                        <label>Người duyệt</label>
                        <input id="nguoi_duyet" name="nguoi_duyet" class="span10" placeholder="Default Text" readonly/>
                    </div>
                </div>
                <div>
                    <div class="span6">
                        <label>Ngày tạo:</label>
                        <input id="ngay_tao" name="ngay_tao" class="format-right span10 date-picker" disabled/>
                    </div>
                    <div class="span6">
                        <label>Người tạo</label>
                        <input id="nguoi_tao" name="nguoi_tao" class="span10" placeholder="Default Text" readonly/>
                    </div>
                </div>

            </div>
            <div class="span6">
                <div class="span12 img-border-box">
                    <div class="span12"></div>
                    <div class="span11">
                        <img id="url" src="http://www.placehold.it/280x160/EFEFEF/AAAAAA&text=no+image" class="img-circle" />
                    </div>
                    <div class="span12" style="height:8px;"></div>
                    <div class="row-fluid span11">
                        <input type="file" style="border-radius: 12px!important; height:auto!important" name="file" />
                    </div>
                </div>
                <div class="span12">
                    <label>Trạng thái xuất bản</label>
                    <select id="trang_thai_xuat_ban" name="trang_thai_xuat_ban" class="select-chosen span5">
                        @foreach (var item in ViewBag.listStatusXuatBan)
                        {
                            <option value="@item.ParamID">@item.Value</option>
                        }
                    </select>
                </div>

                <div class="span12">
                    <div class="span6">
                        <label>Ngày cập nhật</label>
                        <input id="ngay_cap_nhat" name="ngay_cap_nhat" class="format-right span10 date-picker" disabled/>
                    </div>
                    <div class="span6">
                        <label>Người cập nhật</label>
                        <input id="nguoi_cap_nhat" name="nguoi_cap_nhat" class="span10" placeholder="Default Text" readonly/>
                    </div>
                </div>
                <div class="span12">
                    <div class="span6">
                        <label>Ngày xuất bản</label>
                        <input id="ngay_xuat_ban" name="ngay_xuat_ban" class="format-right span10 date-picker" disabled/>
                    </div>
                    <div class="span6">
                        <label>Người xuất bản</label>
                        <input id="nguoi_xuat_ban" name="nguoi_xuat_ban" class="span10" placeholder="Default Text" readonly/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="span12">
        <div class="span4 pull-right" style="z-index:99999;margin-bottom: 10px!important;margin-top: 10px!important;">
        </div>
        <div class="span5 pull-right" style="z-index:99999;margin-bottom: 10px!important;margin-top: 10px!important;">
            <a class="btn btn-primary btn-small btn-circle" href="javascript:void(0)" id="btnSync" onclick="Sync()">
                Sync
            </a>
            <a class="btn btn-primary btn-small btn-circle" href="javascript:void(0)" id="btnGridSave" onclick="Update()">
                @Resources.Multi.btnSave
            </a>
            <a class="btn btn-success btn-small btn-circle" onclick="Create()" href="javascript:void(0)" id="">
                @Resources.Multi.Add
            </a>
            @*<a class="btn btn-default btn-small " href="javascript:void(0)" id="btnGridCancel" onclick="Cancel()">
                    Hủy thay đổi
                </a>
            *@
            @if (ViewBag.Delete)
            {
                <a class="btn btn-danger btn-small btn-circle" href="javascript:void(0)" onclick="showConfirmPopup(1)" id="btnGridDelete">
                    @Resources.Multi.Delete
                </a>
            }
        </div>
    </div>
</div>

