@{
    float sumM = 0;
}
<div class="row-fluid">
    <fieldset>
        <b>Phương thức thanh toán</b>
        <ul style="list-style:none">
            <li>
                <div class="row-fluid">
                    @if (ViewBag.itemdraff != null)
                    {
                    <div class="span1">
                        <div class="control-group">
                            <div class="controls">
                                <label>
                                    @if (ViewBag.itemdraff.PhuongThucThanhToan == 0)
                                        {
                                    <input value="0" name="PhuongThucThanhToan" type="radio" class="ace" checked>
                                        }
                                        else
                                        {
                                    <input value="0" name="PhuongThucThanhToan" type="radio" class="ace">

                                        }
                                    <span class="lbl"> Tiền mặt</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="control-group">
                            <div class="controls">
                                <label>
                                    @if (ViewBag.itemdraff.PhuongThucThanhToan == 1)
                                        {
                                    <input value="1" name="PhuongThucThanhToan" type="radio" class="ace" checked>
                                        }
                                        else
                                        {
                                    <input value="1" name="PhuongThucThanhToan" type="radio" class="ace">

                                        }
                                    <span class="lbl"> Chuyển khoản</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    }
                    else
                    {
                    <div class="span1">
                        <div class="control-group">
                            <div class="controls">
                                <label>
                                    <input value="0" name="PhuongThucThanhToan" type="radio" class="ace">
                                    <span class="lbl"> Tiền mặt</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="control-group">
                            <div class="controls">
                                <label>
                                    <input value="1" name="PhuongThucThanhToan" type="radio" class="ace" checked>
                                    <span class="lbl"> Chuyển khoản</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </li>
        </ul>

    </fieldset>
    <fieldset>
        <b>Lịch thanh toán</b>
        <div class="row-fluid">

            <div class="span7">
                <table id="list-schedule-paypal" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr align="center">
                            <th style="width:15%">Ngày thanh toán</th>
                            <th style="width:15%">Số tiền dự kiến thu</th>
                            <th style="width:15%">Còn lại</th>
                            <th style="width:50%">Ghi chú</th>
                            <th style="width:5%"><button data-rel="tooltip" data-placement="top" title="" data-original-title="Thêm" type="button" class="btn btn-minier btn-success tooltip-success" onclick="plusGroupSchedulePaypal()"><i class="icon-plus"></i></button></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @if (ViewBag.paymentSchedule != null && ViewBag.paymentSchedule.Count > 0)
                        {
                            foreach (var item in ViewBag.paymentSchedule)
                            {
                                <tr class="group-schedule-paypal">
                                   <td>
                                       <input name="PKPayment" type="hidden" value="@item.PKPayment" />
                                       <input onchange="changeMoney()" name="Date" class="date-picker schedule-paypal-date" type="text" value="@item.Date.ToString("dd/MM/yyyy")" />
                                   </td>
                                    <td>
                                        <input onchange="changeMoney()" name="Money" class="schedule-paypal-mooney currency" type="text" value="@item.Money.ToString("#,##0")" data-thousands="," data-decimal="." data-precision="0" />
                                    </td>
                                    <td>
                                        <input name="Minus" class="schedule-paypal-minus currency" type="text" value="" data-thousands="," data-decimal="." data-precision="0" disabled />
                                    </td>
                                    <td>
                                        <input onchange="changeMoney()" name="Note" class="schedule-paypal-note" type="text" value="@HttpUtility.HtmlDecode(item.Note)" />
                                    </td>
                                    <td>
                                        <button data-rel="tooltip" data-placement="right" title="" data-original-title="Xóa" type="button" class="btn btn-minier btn-danger tooltip-error" onclick="minusGroupSchedulePaypal(this,'@item.PKPayment')"><i class="icon-minus"></i></button>
                                    </td>
                                </tr>
                             }
                        }
                    </tbody>
                </table>
                @*<div style="" id="payment-time-dieu2"></div>*@
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <div class="profile-user-info">
                        <div class="profile-info-row">
                            <div class="profile-info-name"><b>TT dự kiến thu</b> </div>
                            <div class="profile-info-value">
                                <b style="font-size: 1.4em; color: red; float: right;"><span id="contract-money-sum"></span><i> đ</i></b>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"><b>TT còn lại </b> </div>
                            <div class="profile-info-value">
                                <b style="font-size: 1.4em; color: red; float: right;"><span id="contract-money-sum-payment"></span><i> đ</i></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div>
        @{
            if (ViewBag.itemdraff == null)
            {
                if (ViewBag.Terms != null)
                {
                    foreach (var item in ViewBag.Terms)
                    {
                        if (item.NameID == "THUONG_DIEU_IIPHUONG_THUC_THANH_TOAN")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("Dieu2")
                                    .HtmlAttributes(new { style = "height:300px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "PHIEUPR_DIEU_IIPHUONG_THUC_THANH_TOAN")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("Dieu2")
                                    .HtmlAttributes(new { style = "height:300px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "CPM_DIEU_IIPHUONG_THUC_THANH_TOAN")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("Dieu2")
                                    .HtmlAttributes(new { style = "height:300px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "PHIEUCPM_DIEU_IIPHUONG_THUC_THANH_TOAN")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("Dieu2")
                                    .HtmlAttributes(new { style = "height:300px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "GOI_DIEU_IIPHUONG_THUC_THANH_TOAN")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("Dieu2")
                                    .HtmlAttributes(new { style = "height:300px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "PHIEU_DIEU_IIPHUONG_THUC_THANH_TOAN")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("Dieu2")
                                    .HtmlAttributes(new { style = "height:300px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                    }
                    foreach (var item in ViewBag.Terms)
                    {

                        if (item.NameID == "THUONG_CAC_DIEU_KHOAN_KHAC")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("DieuKhoan")
                                    .HtmlAttributes(new { style = "height:400px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "PHIEUPR_CAC_DIEU_KHOAN_KHAC")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("DieuKhoan")
                                    .HtmlAttributes(new { style = "height:400px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "CPM_CAC_DIEU_KHOAN_KHAC")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("DieuKhoan")
                                    .HtmlAttributes(new { style = "height:400px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "PHIEUCPM_CAC_DIEU_KHOAN_KHAC")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("DieuKhoan")
                                    .HtmlAttributes(new { style = "height:400px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                        if (item.NameID == "GOI_CAC_DIEU_KHOAN_KHAC_GOI_BANNER")
                        {
                            <fieldset>
                                <b>@item.Title</b>
                                <div class="row-fluid">
                                    @(Html.Kendo().Editor()
                                    .Name("DieuKhoan")
                                    .HtmlAttributes(new { style = "height:400px" })
                                    .Encode(false)
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("~/Content/UserFiles/Images/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Value(@item.Content)
                                    )
                                </div>
                            </fieldset>
                        }
                    }
                }
            }
            else
            {
                if (!string.IsNullOrEmpty(ViewBag.itemdraff.Dieu2))
                {
                    <fieldset>
                        <b>ĐIỀU II:PHƯƠNG THỨC THANH TOÁN</b>
                        <div class="row-fluid">
                            @(Html.Kendo().Editor()
                            .Name("Dieu2")
                            .HtmlAttributes(new { style = "height:300px" })
                            .Encode(false)
                            .ImageBrowser(imageBrowser => imageBrowser
                                .Image("~/Content/UserFiles/Images/{0}")
                                .Read("Read", "ImageBrowser")
                                .Create("Create", "ImageBrowser")
                                .Destroy("Destroy", "ImageBrowser")
                                .Upload("Upload", "ImageBrowser")
                                .Thumbnail("Thumbnail", "ImageBrowser")
                            )
                            .Value(HttpUtility.HtmlDecode(ViewBag.itemdraff.Dieu2))
                            )
                        </div>
                    </fieldset>
                }



                if (!string.IsNullOrEmpty(ViewBag.itemdraff.DieuKhoan))
                {
                    <fieldset>
                        <b>CÁC ĐIỀU KHOẢN KHÁC</b>
                        <div class="row-fluid">
                            @(Html.Kendo().Editor()
                            .Name("DieuKhoan")
                            .HtmlAttributes(new { style = "height:400px" })
                            .Encode(false)
                            .ImageBrowser(imageBrowser => imageBrowser
                                .Image("~/Content/UserFiles/Images/{0}")
                                .Read("Read", "ImageBrowser")
                                .Create("Create", "ImageBrowser")
                                .Destroy("Destroy", "ImageBrowser")
                                .Upload("Upload", "ImageBrowser")
                                .Thumbnail("Thumbnail", "ImageBrowser")
                            )
                            .Value(HttpUtility.HtmlDecode(ViewBag.itemdraff.DieuKhoan))
                            )
                        </div>
                    </fieldset>
                }

            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        formatDateDisplay();
    })
    function checkMoneyPaypal(sum) {
        $("#contract-money-sum-payment").text(numberToCurrency(moneyAfterVat - sum));
    }
    function CalcuMoney() {
        var sum = 0;
        $("#group-schedule-paypal .group-item").each(function (index) {
            var money = currencyToNumber($(this).find(".schedule-paypal-mooney").val());
            sum = sum + money;
        })
        $("#contract-money-sum").text(numberToCurrency(moneyAfterVat));
        checkMoneyPaypal(sum);
    }
    var stringTpl = '<p hidden="">paymentTime</p>';
    var reload = 0;
    function changeMoney(ref) {
        var sumM = 0;
        var arr = [];
        var minus = moneyAfterVat;
        $("#list-schedule-paypal .group-schedule-paypal").each(function (i) {
            var obj = {};
            var date = $(this).find("input[name='Date']").val();
            var money = currencyToNumber($(this).find("input[name='Money']").val());
            var note = $(this).find("input[name='Note']").val();
            minus = minus - money;
            $(this).find("input[name='Minus']").val(numberToCurrency(minus));
            obj.date = date;
            obj.money = money;
            if (moneyAfterVat == 0) {
                moneyAfterVat = money;
            }
            obj.percent = parseFloat(money * 100 / moneyAfterVat).toFixed(0);
            obj.note = note;
            arr[i] = obj;
            sumM += money;
        })

        var html = '';
        for (var i = 0; i < arr.length; i++) {
            var iNote = '';
            if (arr[i].note != '') {
                iNote = '(' + arr[i].note + ')';
            }
            console.log(arr[i]);
            html += '<span class="list-time"><b>- Lần ' + (i + 1) + '</b>: thanh toán <i>' + arr[i].percent + '%</i> giá trị hợp đồng tương đương <b>' + numberToCurrency(arr[i].money) + 'đ </b>';
            html += 'trước ngày ' + arr[i].date + '<i> ' + iNote + '</i></span></br>';
        }
        if (reload > 0) {
            setValueWhenChange(html);
        }

        $("#contract-money-sum").text(numberToCurrency(sumM));
        checkMoneyPaypal(sumM);
        //var rs = moneyAfterVat - sumM;
        //$("#contract-money-end").text((rs + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
        if (sumM > moneyAfterVat + 1) {
            if (!ref) {
                alert("Thanh toán vượt quá " + numberToCurrency(moneyAfterVat) + " !");
                $("#contract-money-sum,#contract-money-sum-payment").text(0);
            }
            return;
        }
        reload++;
        return sumM;
    }
    function setValueWhenChange(html) {
        var dieu2 = $("textarea[name='Dieu2']").val();
        dieu2 = $.parseHTML(dieu2);
        var rs = '';
        if (dieu2 == null) {
            return;
        }
        for (var j = 0; j < dieu2.length; j++) {
            if ($(dieu2[j]).attr("id") == "payment-time-dieu2") {
                $(dieu2[j]).html(html);
            }
            rs += $(dieu2[j]).prop('outerHTML');
        }
        var editor = $("#Dieu2").data("kendoEditor");
        editor.value(rs);
    }
    function savePayPall() {
        var arr = [];
        var loop = true;
        $("#list-schedule-paypal .group-schedule-paypal").each(function (i) {
            var ob = {};
            ob.FKContract = $("#formContract").attr("data-contract");
            $(this).find("input").each(function () {
                if ($(this).attr("name") == "PKPayment") {
                    ob.PKPayment = $(this).val();
                }
                if ($(this).attr("name") == "Date") {
                    if ($(this).val() == "") {
                        alert("Ngày thanh toán không được để trống !");
                        loop = false;
                        return false;
                    }
                    ob.DateString = convertDate($(this).val());
                }
                if ($(this).attr("name") == "Money") {
                    if ($(this).val() == "") {
                        alert("Số tiền thu không được để trống !");
                        loop = false;
                        return false;
                    }
                    ob.Money = currencyToNumber($(this).val());
                }
                if ($(this).attr("name") == "Note") {
                    ob.Note = $(this).val();
                }
            })

            arr[i] = ob;
        })
        if (!loop) {
            return false;
        }
        console.log(arr);
        $.ajax({
            url: r + "/CRMContractList/PaymentScheduleDraft_Save",
            type: 'POST',
            data: { listPayment: arr },
            async: false,
            success: function (data, textStatus, jqXHR) {
                if (data.success) {
                    loop = true;
                }
                else {
                    $.gritter.add({
                        title: 'Lỗi',
                        text: data.message,
                        class_name: 'gritter-error'
                    });
                    loop = false;
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                $.gritter.add({
                    text: 'Lỗi Cập nhật !',
                    class_name: 'gritter-error'
                });
            }
        });
        return loop;
    }
    function plusGroupSchedulePaypal() {
        var html = '';
        html += '       <tr class="group-schedule-paypal">'
        html += '          <td>'
        html += '               <input name="PKPayment" type="hidden" value="" />'
        html += '               <input onchange="changeMoney()" name="Date" class="date-picker schedule-paypal-date" type="text" value="" />'
        html += '       </td>'
        html += '       <td><input onchange="changeMoney()" name="Money" class="schedule-paypal-mooney currency" type="text" value="" data-thousands="," data-decimal="." data-precision="0" /></td>'
        html += '        <td><input name="Minus" class="schedule-paypal-minus currency" type="text" value="" data-thousands="," data-decimal="." data-precision="0" disabled /></td>'
        html += '       <td><input onchange="changeMoney()" name="Note" class="schedule-paypal-note" type="text" value="" /> </td>'
        html += '      <td><button data-rel="tooltip" data-placement="right" title="" data-original-title="Xóa" type="button" class="btn btn-minier btn-danger tooltip-error" onclick="minusGroupSchedulePaypal(this)"><i class="icon-minus"></i></button> </td>'
        $('#list-schedule-paypal tbody').append(html);
        addEventAfter();
    }
    function minusGroupSchedulePaypal(e, pk) {
        if (!confirm("Bạn có chắc xóa dữ liệu này")) {
            return;
        }
        $(e).closest('tr').remove();
        if (pk) {
            addTaskList("SCHEDULE", pk);
        }
        //CalcuMoney();
        //deleteItem(pk, "PayPal");
        changeMoney()
    }
    function formatDateDisplay() {
        $('.date-picker').datepicker({ format: 'dd/mm/yyyy', autoclose: true });
    }
    function changeTypeService(){
        var type = $("input[name='TypeService']:checked").val();
        $.ajax({
            url: r + "/Ajax/GetExtraContractByType/",
            type: 'POST',
            data:{Type: type},
            success: function (data, textStatus, jqXHR) {
                console.log(data.success);
                if(data.success){
                    var editor = $("#DieuKhoan").data("kendoEditor");
                    editor.value(data.content);
                } else {
                    alert(data.content);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $.gritter.add({
                    text: 'Lỗi !',
                    class_name: 'gritter-error'
                });
            }
        });
    }
    //baohv
    function copyPayment() {
        $("#list-schedule-paypal .group-schedule-paypal").each(function (i) {
            $(this).find("input").each(function () {
                if ($(this).attr("name") == "PKPayment") {
                    $(this).val('');
                }
            });
        });
    }
</script>