@{
    ViewBag.Title = "Soạn thảo hợp đồng";
    bool AllowCreate = (ViewData["AllowCreate"] != null && (bool)ViewData["AllowCreate"]);
    bool AllowUpdate = (ViewData["AllowUpdate"] != null && (bool)ViewData["AllowUpdate"]);
    bool AllowDelete = (ViewData["AllowDelete"] != null && (bool)ViewData["AllowDelete"]);
    bool AllowExport = (ViewData["AllowExport"] != null && (bool)ViewData["AllowExport"]);

    bool viewall = (ViewData["FlagViewAll"] != null && (bool)ViewData["FlagViewAll"]);
    bool viewKT = (ViewData["KT"] != null && (bool)ViewData["KT"]);
    bool viewLeader = (ViewData["TeamLeader"] != null && (bool)ViewData["TeamLeader"]);
    var PKContract = ViewBag.PKContractDraff;
    var isKT = false; var isKD = false;
    if (ViewBag.Group.Count > 0)
    {
        foreach (var item in ViewBag.Group)
        {
            if (item.Id == 57)
            {
                isKT = true;
                break;
            }
            else if (item.Id == 50)
            {
                isKD = true;
            }
        }
    }
}
<style>
    input, select, textarea {
        /*border: solid 1px #A59D9D !important;*/
        width: 100%;
        text-indent: .33em;
    }

    table input[type="text"], .k-autocomplete .k-input {
        padding: 2px 0;
        height: 22px;
        color: #000;
        text-indent: .33em;
    }

    div.fixed {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .accordion-heading .accordion-toggle.collapsed, .accordion-heading .accordion-toggle {
        color: #fff;
        background-color: #2E6589;
    }

    .val-alert {
        background-color: #EA9A9A;
    }

    #list-cpm-service input {
        width: 100%;
    }

    ul {
        list-style-type: none;
    }

    li.item-discount {
        border: none;
    }

    .table-service.table thead tr {
        background-image: none;
        background-color: #fff;
    }

    .group-sale-ctr input.input-small {
        text-align: right;
    }

    .profile-info-value {
        min-height: 20px;
    }

    .check-type-service {
        margin: 20px 10px;
    }

        .check-type-service label {
            margin-right: 20px;
        }

    .service-active {
        font-weight: bold !important;
        color: red;
    }

    .accordion-heading .accordion-toggle:hover {
        color: #fff;
        background-color: #0082c1;
    }

    .disable-event {
        pointer-events: none;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="@Url.Content("~/Scripts/utilitycommon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/ckfinder/ckfinder.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.maskMoney.js")" type="text/javascript"></script>
<script type="text/javascript">
    var moneyBeforeVat = 0;
    var moneyAfterVat = 0;
    var sumMoneyProduct = 0;
    var statusContract = 0;
    var str;
    var keyselected = "";
    var isKT = (str === '@isKT');
</script>
<form data-contract="@ViewBag.PKContractDraff" action=@Url.Action("ContractDraff_Save","CRMContractList") id="formContract" class="form-inline">
    <div class="row-fluid">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list-1" href="#faq-1-1">
                        <span class="title-fluid"> Thông tin chung</span>
                    </a>
                </div>
                <div id="faq-1-1" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        @Html.Partial("_general_infomation")
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#faq-1-2" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                        <span class="title-fluid">  Thông tin hợp đồng</span>
                    </a>

                </div>
                <div id="faq-1-2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="">

                            @Html.Partial("_contract_infomation")
                        </div>
                    </div>

                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#faq-1-3" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                        <span class="title-fluid"> Thông tin các dịch vụ cung cấp</span>
                    </a>
                </div>
                <div class="accordion-body collapse" id="faq-1-3">
                    <div class="accordion-inner">
                        <div class="span12">
                            @if (ViewBag.typeContract == "PHIEU" || ViewBag.typeContract == "THUONG")
                            {
                                @Html.Partial("_contract_type_hdt2")
                            }
                            @if (ViewBag.typeContract == "CPM" || ViewBag.typeContract == "PHIEUCPM")
                            {
                                @Html.Partial("_contract_type_cpm")
                            }
                            @if (ViewBag.typeContract == "GOI")
                            {
                                @Html.Partial("_contract_type_hdg")
                            }
                            @if (ViewBag.typeContract == "PHIEUPR")
                            {
                                @Html.Partial("_contract_type_pr")
                            }
                        </div>
                    </div>

                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#faq-1-4" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                        <span class="title-fluid">Phương thức thanh toán và các điều khoản</span>
                    </a>
                </div>
                <div class="accordion-body collapse" id="faq-1-4">
                    <div class="accordion-inner">
                        <div class="span12">
                            @Html.Partial("_paypal_infomation")
                        </div>
                    </div>

                </div>

            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#faq-1-5" data-parent="#faq-list-5" data-toggle="collapse" class="accordion-toggle collapsed">
                        <span class="title-fluid"> Phân bổ doanh số cho nhân viên kinh doanh</span>
                    </a>
                </div>
                <div class="accordion-body collapse" id="faq-1-5" style="height: 0px;">
                    <div class="accordion-inner">
                        <div class="span12">
                            @Html.Partial("_list_staff")
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#faq-1-6" data-parent="#faq-list-6" data-toggle="collapse" class="accordion-toggle collapsed">
                        <span class="title-fluid"> Phụ lục hợp đồng</span>
                    </a>
                </div>
                <div class="accordion-body collapse" id="faq-1-6" style="height: 0px;">
                    <div class="accordion-inner">
                        <div class="span12">
                            @Html.Partial("_appendix_contract")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row-fluid fixed">
    <div class="span12">
        <p class="pull-right">

            <div class="pull-right" id="isnotcopy" style="display:none">


                @if (ViewBag.itemdraff != null)
            {
                if (ViewBag.itemdraff.TrangThai == 0) //Dang Soan
                {
                    if (isKT)
                    {
                            <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                        else if (isKD)
                        {
                            <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridSend">Gửi </a>
                        }
                        else
                        {
                            <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridSend">Gửi</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                    }
                    else if (ViewBag.itemdraff.TrangThai == 1) //Da duyet
                    {
                        if (isKD)
                        {
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                        else if (isKT)
                        {
                            <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridDIEUCHINH">Điều chỉnh dự thảo</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridDONGBO">Đồng bộ</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                        else
                        {
                            <a class="btn btn-small btn-success" href="#" id="btnGridDIEUCHINH">Điều chỉnh dự thảo</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridDONGBO">Đồng bộ </a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }

                    }
                    else if (ViewBag.itemdraff.TrangThai == 2) //Cho duyet
                    {
                        if (isKD)
                        {
                            <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>
                        }
                        else if (isKT)
                        {
                            <a class="btn btn-small btn-warning" href="#" id="btnGridDUYET">Duyệt / Từ chối</a>
                            @*<a class="btn btn-small btn-success" href="#" id="btnGridTUCHOI">Từ chối</a>*@
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                        else
                        {
                            @*<a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>*@
                            <a class="btn btn-small btn-warning" href="#" id="btnGridDUYET">Duyệt / Từ chối</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }

                    }
                    else if (ViewBag.itemdraff.TrangThai == 10) //Da dong bo
                    {
                        if (isKD)
                        {
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                        else if (isKT)
                        {
                            <a class="btn btn-small btn-success" href="#" id="btnGridHUYDB">Hủy đồng bộ dự thảo</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                        else
                        {
                            <a class="btn btn-small btn-success" href="#" id="btnGridHUYDB">Hủy đồng bộ dự thảo</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                    }
                    else if (ViewBag.itemdraff.TrangThai == 100 || ViewBag.itemdraff.TrangThai == 102) //102 Huy dieu chinh
                    {
                        if (isKD)
                        {
                            if (ViewBag.itemdraff.TrangThai == 100)
                            {
                                <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                            }
                            else
                            {
                                <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>
                                <a class="btn btn-small btn-success" href="#" id="btnGridSend">Gửi</a>
                                <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                            }

                        }
                        else if (isKT)
                        {
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                        else
                        {
                            <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">Ghi</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridSend">Gửi</a>
                            <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                        }
                    }
                    else if (ViewBag.itemdraff.TrangThai == 3) // Từ chối
                    {
                        <a class="btn btn-small btn-success" href="#" id="btnGridSend">Gửi </a>
                        <a class="btn btn-small btn-success" href="#" id="btnGridPrint" onclick="reviewContract()">In hợp đồng</a>
                    }
                    <a class="btn btn-small btn-success" href="#popup-history" role="button" data-toggle="modal">Thông tin duyệt dự thảo</a>
                }
                else
                {
                    <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAdd">
                        @*<i class="icon-plus"></i>*@ Ghi
                    </a>
                }
                @*<a class="btn btn-small btn-default" id="btnGridDelete">
                      Tác vụ khác
                    </a>*@
                @if (ViewBag.itemdraff != null)
                {
                    <a class="btn btn-small btn-success" href="javascript:void(0)" onclick="reviewAdditionalList('additional')">Bảng kê bổ sung</a>

                }
                <a class="btn btn-small btn-success" href="#" id="btnGridCopy">Copy dự thảo </a>
                <a class="btn btn-small btn-warning" href="#popup-support" role="button" data-toggle="modal"><i class="icon-question-sign icon-white"></i> Hỗ trợ</a>
                <a class="btn btn-small btn-default" href="~/CRMContractList/Index">
                    @*<i class="icon-plus"></i>*@ Trở lại
                </a>
            </div>
            <div  class="pull-right" id="iscopy" style="display:none">
                <a class="btn btn-small btn-success" href="javascript:void(0)" id="btnGridAddCopy">Ghi</a>
                <a class="btn btn-small btn-warning" href="#popup-support" role="button" data-toggle="modal"><i class="icon-question-sign icon-white"></i> Hỗ trợ</a>
                <a class="btn btn-small btn-default" href="~/CRMContractList/Index">
                    @*<i class="icon-plus"></i>*@ Trở lại
                </a>
            </div>
         
        </p>
    </div>
</div>
@Html.Partial("_popupSend")
@Html.Partial("_popupSupport")
@Html.Partial("_popupHistory")
@Html.Partial("popup_editproduct")
@Html.Partial("_popup_view_contract")
@if (ViewBag.itemdraff != null)
{
    <script>
        statusContract = "@ViewBag.itemdraff.TrangThai";
        var ContractID = '@ViewBag.itemdraff.PKContractDraft';
        var typeContract = '@ViewBag.typeContract';

        /*
         * _contract_infomation
        */
        $('#information-a').val('@Html.Raw(@ViewBag.itemdraff.BenA)');
        $('#information-a-represent').val('@Html.Raw(@ViewBag.itemdraff.DaiDienA)');
        $('#information-a-position').val('@Html.Raw(@ViewBag.itemdraff.ChucVuA)');
        $('#information-a-address').val('@Html.Raw(@ViewBag.itemdraff.DiaChiA)');
        $('#information-a-phone').val('@Html.Raw(@ViewBag.itemdraff.DienThoaiA)');
        $("#information-a-fax").val('@Html.Raw(@ViewBag.itemdraff.FaxA)');
        $('#information-a-mst').val('@Html.Raw(@ViewBag.itemdraff.MaSoThueA)');
        $('#information-a-bank').val('@Html.Raw(@ViewBag.itemdraff.NganHangA)');
        $('#information-a-account-bank').val('@Html.Raw(@ViewBag.itemdraff.TaiKhoanA)');
        $('#information-a-bank-branch').val('@Html.Raw(@ViewBag.itemdraff.ChiNhanhA)');
        if (parseInt('@ViewBag.itemdraff.CheckVat') == 1) {
            $("#CheckVat").prop('checked', true);
        } else {
            $("#CheckVat").prop('checked', false);

        }
        if ('@Html.Raw(@ViewBag.itemdraff.KhachHangCaNhan)' == 1) {
            $('#groupKHCN').show();
            $('#information-a-personal-customer').prop('checked', true);
            $('#information-a-personal-customer').val(1);
            $('#information-a-cmnd').val('@Html.Raw(@ViewBag.itemdraff.SoCmtA)');
            $('#information-a-cmnd-address').val('@Html.Raw(@ViewBag.itemdraff.NoiCapCmtA)');
        }
        else
        {
            $('#groupKHCN').hide();
        }
        // Bên B
        $('#information-b').val('@Html.Raw(@ViewBag.itemdraff.BenB)');
        $('#information-b-represent').val('@Html.Raw(@ViewBag.itemdraff.DaiDienB)').trigger('chosen:updated');
        $('#information-b-position').val('@Html.Raw(@ViewBag.itemdraff.ChucVuB)');
        $('#information-b-address').val('@Html.Raw(@ViewBag.itemdraff.DiaChiB)');
        $('#information-b-phone').val('@Html.Raw(@ViewBag.itemdraff.DienThoaiB)');
        $("#information-b-fax").val('@Html.Raw(@ViewBag.itemdraff.FaxB)');
        $('#information-b-mst').val('@Html.Raw(@ViewBag.itemdraff.MaSoThueB)');
        $('#information-b-bank').val('@Html.Raw(@ViewBag.itemdraff.NganHangB)');
        $('#information-b-account-bank').val('@Html.Raw(@ViewBag.itemdraff.TaiKhoanB)');
        $('#information-b-bank-branch').val('@Html.Raw(@ViewBag.itemdraff.ChiNhanhB)');

        /*
         * _contract_type_hdt
        */
        //Mapping data Amt
        $('#GiamTrucTiep').val(numberToCurrency('@ViewBag.itemdraff.GiamTrucTiep'));
        $('#txtTongTienHD').val('@ViewBag.itemdraff.TongTienHD');
        //
        if ('@ViewBag.itemdraff.KhuyenMaiChung' == '1') {
            $('#Promotion_general').prop('checked', true);
        }
        else {
            $('#Promotion_general').prop('checked', false);
        }

        //
        $("#btnGridCopy").click(function () {
            showpp('COPY');
            return;
        })
        $("#btnGridSend").click(function () {
            showpp('GUI');
            return;
        })
        $("#btnGridDUYET").click(function () {
            showpp('DUYET');
            return;
        })
        $("#btnGridTUCHOI").click(function () {
            showpp('TUCHOI');
            return;
        })
        $("#btnGridHUYDB").click(function () {
            showpp('HUYDB');
            return;
        })
        $("#btnGridDIEUCHINH").click(function () {
            showpp('DIEUCHINH');
            return;
        })
        $("#btnGridDONGBO").click(function () {
            if ($('#general-contract-code').val() == "" || $('#general-contract-code').val() == null)
            {
                $.gritter.add({
                    title: 'Cảnh báo!',
                    text: 'Vui lòng nhập mã hợp đồng',
                    class_name: 'gritter-error'
                });
                $('#general-contract-code').focus();
                return;

            }
            else {
                $.post(r + "/Ajax/checkExitContactID/", { ContractCode: $('#general-contract-code').val().trim() }, function (data) {
                    if (data.success) {
                        $.gritter.add({
                            title: 'Cảnh báo!: Mã hợp đồng đã tồn tại.',
                            text:  'Vui lòng chọn mã hợp đồng khác.',
                            class_name: 'gritter-error'
                        });
                        return;
                    }
                    else
                    {
                        if ($('#general-date').val() == "" || $('#general-date').val() == null) {
                            $.gritter.add({
                                title: 'Cảnh báo!',
                                text: 'Vui lòng nhập ngày về 2 chiều',
                                class_name: 'gritter-error'
                            });
                            $('#general-date').focus();
                            return;
                        }
                        else {
                            showpp('DONGBO');
                        }
                    }
                });
            }
            return;
        })

        function numberToCurrency(value) {
            return value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
        }
        $('#faq-1-3,#faq-1-4').attr('height', '0px');
        $('#faq-1-3,#faq-1-4').removeClass().addClass('accordion-body collapse in');
    </script>
}
else
{
    <script>
        $('#groupKHCN').hide();
        $('#faq-1-2,#faq-1-3,#faq-1-4,#faq-1-5,#faq-1-6,#faq-1-1').removeAttr('style');
        $('#faq-1-2,#faq-1-3,#faq-1-4,#faq-1-5,#faq-1-6,#faq-1-1').removeClass('accordion-body collapse').addClass('accordion-body collapse in');
    </script>
}
<script type="text/javascript">
    var actionView = '@ViewBag.action';
    //BaoHV add
    $(document).ready(function () {
        try {
            //debugger;
            const url = location.search;
            var copy = /Copy=([^&]+)/.exec(url)[1];
            if (copy == 'true') {
                $('#isnotcopy').hide();
                $('#iscopy').show();
                CopyContract();
                $.gritter.add({
                    title: 'Copy thành công',
                    text: 'Bạn đang làm việc trên dự thảo hợp đồng cũ.',
                    class_name: 'gritter-success',
                    timeout:500
                });
            }
        }
        catch (ex) {
            $('#isnotcopy').show();
            $('#iscopy').hide();
        }
    });
    function CopyContract() {
        $('#general-contract-status').val('0').trigger('chosen:updated');
        $('#general-contract-code').val('');
        $("#formContract").attr("data-contract", 0);
        $('#general-contract-PKContractDraft').val('0');
        copyServices();
        copyDiscount();
        copyPayment();
        copyStaff();
        actionView = 'create';
        $("input").removeClass("disable-event");
        $("input[type='radio']").attr('disabled', false);
        $("select").attr('disabled', false);
        $("#general-contract-code, #general-book-code, #general-date").removeClass("disable-event");
    }
    if (parseInt(statusContract) == 1 || parseInt(statusContract) == 10) {
        $("input").addClass("disable-event");
        $("input[type='radio']").attr('disabled', true);
        $("select").attr('disabled', true);
        $("#general-contract-code, #general-book-code, #general-date").removeClass("disable-event");
    }
    function formatDateDisplay() {
        $('.date-picker').datepicker({ format: 'dd/mm/yyyy', autoclose: true });
    }
    $('#information-a-personal-customer').click(function () {
        if ($('#information-a-personal-customer').prop('checked')) {
            $('#information-a-personal-customer').val(1);
            $('#groupKHCN').show();
        }
        else {
            $('#information-a-personal-customer').val(0);
            $('#groupKHCN').hide();
        }
    });
    var typeContract = '@ViewBag.typeContract';
    $('.currency').maskMoney();

    $('.chosen-select').chosen();
    $("#btnGridAdd,#btnGridAddCopy").click(function () {
      
        if ($("#txtTongTienHD").val() == 0) {
            $.gritter.add({
                title: 'Lỗi',
                text: 'Chưa thêm sản phẩm',
                class_name: 'gritter-error'
            });
            return;
        }
        if (checkPaypal() == false) {
            return;
        }
        if (checkStaff() == false) {
            return;
        }
        else {
            $("form#formContract").submit();
        }
        return;
    })
    function checkPaypal() {
        var loop = true;
        var total = 0;
        $("#list-schedule-paypal .group-schedule-paypal").each(function (i) {
            $(this).find("input").each(function () {
                if ($(this).attr("name") == "Date") {
                    if ($(this).val() == "") {
                        $.gritter.add({
                            title: 'Lỗi: phương thức thanh toán',
                            text: ' Ngày thanh toán không được để trống !',
                            class_name: 'gritter-error'
                        });
                        loop = false;
                        return false;
                    }
                }
                if ($(this).attr("name") == "Money") {
                    if ($(this).val() == "") {
                        $.gritter.add({
                            title: 'Lỗi: phương thức thanh toán',
                            text: ' Số tiền thu không được để trống !',
                            class_name: 'gritter-error'
                        });
                        loop = false;
                        return false;
                    }
                }
            })
        })
        if (!loop) {
            return false;
        }
        //console.log(currencyToNumber($('#contract-money-sum').text()));
        //console.log(parseFloat(moneyAfterVat).toFixed(0));
        if (currencyToNumber($('#contract-money-sum').text()) != parseFloat(moneyAfterVat).toFixed(0)) {
            $.gritter.add({
                title: 'Lỗi: phương thức thanh toán',
                text: ' Số tiền thu dự kiến chưa = tổng giá trị HĐ !',
                class_name: 'gritter-error'
            });
            return false;
        }
    }
    function checkdungHD() {
        var uncheckHD = 0;
        var totalRow = 0;
        var countCheck = 0;
        $("#list-staff-revenue .group-staff-revenue input[name='Charge']").each(function (i) {
            totalRow = totalRow + 1;
            if (!$(this).prop('checked')) {
                uncheckHD = uncheckHD + 1;
            }
            else {
                countCheck = countCheck + 1;
            }
        });
        if (totalRow == uncheckHD) {
            $.gritter.add({
                title: 'Lỗi: Chưa check đứng HĐ ',
                text: 'Vui lòng chọn nhân viên đứng HĐ!',
                class_name: 'gritter-error'
            });
            return false;
        }
        else if (countCheck > 1) {
            $.gritter.add({
                title: 'Lỗi: Chưa check đứng HĐ ',
                text: 'Vui lòng chỉ chọn 1 nhân viên đứng HĐ!',
                class_name: 'gritter-error'
            });
            return false;
        }
        else if (countCheck == 1) {
            return true;
        }
    }
    function checkStaff() {
        var loop = true;
        var total = 0;
        $("#list-staff-revenue .group-staff-revenue").each(function (i) {
            $(this).find("input").each(function () {

                if ($(this).attr("name") == "StaffId") {
                    if ($(this).val() == "") {
                        $.gritter.add({
                            title: 'Lỗi: Chưa phân bổ doanh số',
                            text: ' Tên nhân viên không được để trống !',
                            class_name: 'gritter-error'
                        });
                        loop = false;
                        return false;
                    }
                }
                if ($(this).attr("name") == "Percent") {
                    if ($(this).val() == "") {
                        $.gritter.add({
                            title: 'Lỗi: Chưa phân bổ doanh số',
                            text: 'Chưa nhập tỉ lệ !',
                            class_name: 'gritter-error'
                        });
                        loop = false;
                        return false;
                    }
                    else {
                        total = total + parseInt($(this).val());
                    }
                }
                if ($(this).attr("name") == "Money") {
                    if ($(this).val() == "") {
                        $.gritter.add({
                            title: 'Lỗi: Chưa phân bổ doanh số',
                            text: 'Doanh số ký không được để trống !',
                            class_name: 'gritter-error'
                        });
                        loop = false;
                        return false;
                    }
                }

            })

        })
        if (!loop) {
            return false;
        }

        if (total > 100) {
            $.gritter.add({
                title: 'Lỗi: Chưa phân bổ doanh số',
                text: 'Tỉ lệ lớn hớn 100% !',
                class_name: 'gritter-error'
            });
            return false;
        }
        else if (total < 100) {
            $.gritter.add({
                title: 'Lỗi: Chưa phân bổ doanh số',
                text: 'Tỉ lệ nhỏ hơn 100% !',
                class_name: 'gritter-error'
            });
            return false;
        }
        else if (total == 100) {

            var check = checkdungHD();
            if (check) {
                return true;
            }
            else {
                return false;
            }
        }
    }

    var formData = $('form#formContract').serialize();
    $("form#formContract").validate({
        rules: {
            LoaiHopDong: { required: true },
            CategoryCode: { required: true },
            txtCustomerID: { required: true },
            BenA: { required: true },
            DaiDienA: { required: true },
            ChucVuA: { required: true },
            DiaChiA: { required: true },
            DienThoaiA: { required: true },
            BenB: { required: true },
            DaiDienB: { required: true },
            ChucVuB: { required: true },
            DiaChiB: { required: true },
            DienThoaiB: { required: true },
            FaxB: { required: true },
            TaiKhoanB: { required: true },
            NganHangB: { required: true },
            ChiNhanhB: { required: true },
            MaSoThueB: { required: true },
            CategoryCode: { required: true },
            AgencyType: { required: true },

        },
        messages: {
            LoaiHopDong: { required: "Thông tin bắt buộc" },
            CategoryCode: { required: "Thông tin bắt buộc" },
            txtCustomerID: { required: "Thông tin bắt buộc" },
            BenA: { required: "Thông tin bắt buộc" },
            DaiDienA: { required: "Thông tin bắt buộc" },
            ChucVuA: { required: "Thông tin bắt buộc" },
            DiaChiA: { required: "Thông tin bắt buộc" },
            DienThoaiA: { required: "Thông tin bắt buộc" },
            BenB: { required: "Thông tin bắt buộc" },
            DaiDienB: { required: "Thông tin bắt buộc" },
            ChucVuB: { required: "Thông tin bắt buộc" },
            DiaChiB: { required: "Thông tin bắt buộc" },
            DienThoaiB: { required: "Thông tin bắt buộc" },
            FaxB: { required: "Thông tin bắt buộc" },
            TaiKhoanB: { required: "Thông tin bắt buộc" },
            NganHangB: { required: "Thông tin bắt buộc" },
            ChiNhanhB: { required: "Thông tin bắt buộc" },
            MaSoThueB: { required: "Thông tin bắt buộc" },
            CategoryCode: { required: "Thông tin bắt buộc" },
            AgencyType: { required: "Thông tin bắt buộc" },
        },
        errorPlacement: function (error, element) {
            if (element.is(":hidden")) {
                element.next().parent().append(error);
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function (form) {
            $("select").attr('disabled', false);
            var _url = $('form#formContract')[0].action;
            if ($('#CheckVat').prop('checked')) {
                $('#CheckVat').val(1);
            }
            else {
                $('#CheckVat').val(1);
            }
            $('#general-contract-type').prop('disabled', false);
            $('#general-agency-type').prop('disabled', false);
            $('#general-contract-status').prop('disabled', false);
            $('input[name=PhuongThucThanhToan]').prop('disabled', false);
            $('#GiamTrucTiep').val(currencyToNumber($('#GiamTrucTiep').val()));
            if ($('#general-date').val() != "") {
                $('#general-date').val(convertDate($('#general-date').val()));
            }
            else {
                $('#general-date').val('');
            }
            $('#information-a-cmnd-date-range').val(convertDate($('#information-a-cmnd-date-range').val()));
            $.blockUI({ message: '<i class="icon-spinner icon-spin blue bigger-125" style="font-size:30px;"></i>', theme: false });
            $.ajax({
                url: _url,
                type: 'POST',
                async: false,
                data: $('form#formContract').serialize(),
                success: function (data, textStatus, jqXHR) {
                    if (data.success) {
                        if (actionView == "create") {
                            if (data.PK) {
                                console.log(data.PK);
                                $("#formContract").attr("data-contract", data.PK);
                                $('#general-contract-PKContractDraft').val(data.PK);
                            }
                        }
                        runTask();
                        tracking();
                    }
                    else {
                        $.gritter.add({
                            title: 'Lỗi',
                            text: data.message,
                            class_name: 'gritter-error'
                        });
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $.gritter.add({
                        text: 'Lỗi Cập nhật !',
                        class_name: 'gritter-error'
                    });
                }
            });

            return false;
        }
    });
    function tracking() {
        var s1 = s2 = s3 = s4 = false;
        s1 = saveServiceSupport();
        if (s1) {
            s2 = savePayPall();
        }
        if (s2) {
            s3 = saveStaff();
        }
        if (s3) {
            s4 = saveGroupSale();
        }
        if (s1 == true && s2 == true && s3 == true && (s4 == true || s4 == 'NOTDISCOUNT')) {
            var contenttext = "";
            if ('@ViewBag.action' == 'edit') {
                contenttext = 'Cập nhật hợp đồng dự thảo thành công !';
            }
            else {
                contenttext = 'Tạo mới dự thảo thành công!';
            }

            if (keyselected == "DONGBO" || keyselected == "DUYET") {
                console.log(keyselected);
                return;
            }
            $.gritter.add({
                title: 'Thành công',
                text: contenttext,
                class_name: 'gritter-success'
            });
            window.location = r + '/CRMContractList/EditContract/' + $("#formContract").attr("data-contract") + '?Type=' + '@ViewBag.typeContract' + '';

        }
    }
    function reviewContract(print) {
        $("#popup-view-contract").modal("show");
        var type = '@ViewBag.typeContract';
        var PKContract = $("#formContract").attr("data-contract");
        $.ajax({
            url: r + '/Ajax/GetTemplateContract/',
            type: 'POST',
            data: { Id: PKContract, isView: true, Type: type },
            success: function (data, textStatus, jqXHR) {
                if (print) {
                    printContract(data);
                } else {
                    $("#popup-view-contract .modal-body-content").html(data);
                }
            },

        });
    }
    var formDataAddition = '';
    function reviewAdditionalList(type) {
        if (formDataAddition != '' && formDataAddition != $('form#additionalList').serialize()) {


            if (!confirm("Chưa lưu thay đổi")) {
                return;
            }
        }
        $("#popup-view-additionalList").modal("show");
        var PKContract = $("#formContract").attr("data-contract");
        $.ajax({
            url: r + '/Ajax/GetTemplateCtrAdditionalList/',
            type: 'POST',
            data: { Id: PKContract, isView: true, Type: type },
            success: function (data, textStatus, jqXHR) {
                if (type == 'print') {
                    printContract(data);
                } else {
                    $("#popup-view-additionalList .modal-body-content").html(data);
                    formDataAddition = $('form#additionalList').serialize();
                    $('.currency').maskMoney();
                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy'
                    }).on('changeDate', function (e) {
                        $(this).datepicker('hide');
                    });;
                }
            },

        });
    }
    function exportAdditionalList() {
        var PKContract = $("#formContract").attr("data-contract");
        if (parseInt(PKContract) != 0) {
            window.location = r + '/Ajax/GetTemplateCtrAdditionalList/' + PKContract + '?isView=false&Type=print';
        }
    }
    function printContract(html) {
        var printWin = window.open("about:blank", "Voucher", "menubar=no;status=no;toolbar=no;");
        printWin.document.write(html);
        printWin.document.close();
        printWin.window.print();
        printWin.close();
    }
    function exportContract() {
        var type = '@ViewBag.typeContract';
        var PKContract = $("#formContract").attr("data-contract");
        if (parseInt(PKContract) != 0) {
            window.location = r + '/Ajax/GetTemplateContract/' + PKContract + '?isView=false&Type=' + type;
        }
    }

    var listTask = [];
    var iList = 0;
    function addTaskList(type, pk) {
        var func = {};
        func.Type = type;
        func.PK = pk;
        listTask[iList] = func;
        iList++;
    }
    function runTask() {
        for (var i = 0; i < listTask.length; i++) {
            var type = listTask[i].Type;
            var pk = listTask[i].PK;
            del = deleteOne(type, pk);
        }
    }
    function deleteOne(_type, _pk) {
        var loop = false;
        if (_type != '' && _pk != 0) {
            switch (_type) {
                case "DISCOUNT":
                    _url = "/CRMContractList/ContractProtion_Delete";
                    break;
                case "STAFF":
                    _url = "/CRMContractList/ContractStaffDraff_Delete";
                    break;
                case "SCHEDULE":
                    _url = "/CRMContractList/PaymentSchedule_Delete/";
                    break;
                case "PDNORMAL":
                    _url = "/CRMContractList/ContractProductDraff_Delete/";
                    break;
                case "PROMOTION_NORMAL":
                    _url = "/CRMContractList/ContractPromotionProductDraff_Delete";
                    break;
                case "DATENORMAL":
                    _url = "/CRMContractList/ContractTimeProductDraff_Delete";
                    break;
                case "PDCPM":
                    _url = "/CRMContractList/ContractProductCPM_Delete";
                    break;
                case "PDPACKET":
                    _url = "/CRMContractList/ContractProductHDG_Delete";
                    break;
                case "BKBS":
                    _url = "/CRMContractList/AdditionalStaff_Delete";
                    break;
            }
            $.ajax({
                url: r + _url,
                type: 'POST',
                data: { PK: _pk },
                async: false,
                success: function (data, textStatus, jqXHR) {
                    if (data.success) {
                        $.gritter.add({
                            title: 'Delete',
                            text: 'Xóa ' + _type + ': ' + _pk + ' thành công !',
                            class_name: 'gritter-success'
                        });
                        loop = true;
                    }
                    else {
                        $.gritter.add({
                            title: 'Lỗi',
                            text: data.message,
                            class_name: 'gritter-error'
                        });
                        loop = false;
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $.gritter.add({
                        text: 'Lỗi Delete !',
                        class_name: 'gritter-error'
                    });
                    loop = false;
                }
            });
        }
        return loop;
    }
    function alertMessage(message) {
        $.gritter.add({
            title: 'Lỗi',
            text: message,
            class_name: 'gritter-error'
        });
    }
    $('[data-rel=tooltip]').tooltip();
    function addEventAfter() {
        $('.date-picker').datepicker({ format: 'dd/mm/yyyy', autoclose: true });
        $('.currency').maskMoney();
        $('[data-rel=tooltip]').tooltip();
    }
</script>
