@{
    Layout = null;
    int countCpm = ViewBag.countID;
    int sttCpm = ViewBag.STT;
}

<tr class="class-cpm" data-pkservice="0">
    <td><input type="checkbox"></td>
    <td>@sttCpm</td>
    <td>
        <input class="input-value-suggess item-channel" type="hidden" value="@ViewBag.Service.c_kenh_qc" />
        @(Html.Kendo().AutoComplete()
                        .Name("txt-Adv-CPM-" + @countCpm)
                        .DataTextField("Name")
                        .Placeholder("Website")
                        .Filter("contains")
                        .MinLength(1)
                        .HtmlAttributes(new { style = "width:100%", @class = "input-mini item-channel-name", @onfocus = "setGlobalCpm(" + countCpm + ")" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("SuggestChannel", "CRM_ProposedAdvertisement", new { PKList = 83 })
                                    .Data("onDataCpm");
                            })
                            .ServerFiltering(true);
                        })
                        .Events(e =>
                        {
                            e.Select("onSelectCpmItem");
                        })
        )
        <script>
            $("#txt-Adv-CPM-@countCpm").val("@Html.Raw(ViewBag.Service.c_kenh_qc)");
        </script>
        @{countCpm++;}
    </td>
    <td>
        <input class="input-value-suggess item-category" type="hidden" value="@ViewBag.Service.c_chuyen_muc_kenhqc" />
        @(Html.Kendo().AutoComplete()
                        .Name("txt-Adv-CPM-" + countCpm)
                        .DataTextField("Name")
                        .Filter("contains")
                        .Placeholder("Chuyên mục")
                        .MinLength(1)
                        .HtmlAttributes(new { style = "width:100%", @class = "input-mini item-category-name", @onfocus = "setGlobalCpm(" + countCpm + ")" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("SuggestFromList", "CRMContractList", new { PKList = 22 })
                                    .Data("onDataCpm");
                            })
                            .ServerFiltering(true);
                        })
                        .Events(e =>
                        {
                            e.Select("onSelectCpmItem");
                        })
        )
        <script>
            $("#txt-Adv-CPM-@countCpm").val("@Html.Raw(ViewBag.Service.c_chuyen_muc_kenhqc)");
        </script>
        @{countCpm++;}
    </td>
    <td>
        <input class="input-value-suggess item-location" type="hidden" value="@ViewBag.Service.c_vi_tri_kenhqc" />
        @(Html.Kendo().AutoComplete()
                        .Name("txt-Adv-CPM-" + countCpm)
                        .DataTextField("Name")
                        .Placeholder("Vị trí")
                        .Filter("contains")
                        .MinLength(1)
                        .HtmlAttributes(new { style = "width:100%", @class = "input-mini item-location-name", @onfocus = "setGlobalCpm(" + countCpm + ")" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("SuggestFromList", "CRMContractList", new { PKList = 23 })
                                    .Data("onDataCpm");
                            })
                            .ServerFiltering(true);
                        })
                        .Events(e =>
                        {
                            e.Select("onSelectCpmItem");
                        })
        )
        <script>
            $("#txt-Adv-CPM-@countCpm").val("@Html.Raw(ViewBag.Service.c_vi_tri_kenhqc)");
        </script>
        @{countCpm++;}
    </td>
    <td>
        <input class="date-picker input-medium dateUp" style="width:100%" type="text" value="@ViewBag.Service.c_ngay_lenString" placeholder="Ngày lên" />
    </td>
    <td>
        <input class="date-picker input-medium dateDown" style="width:100%" type="text" value="@ViewBag.Service.c_ngay_xuongString" placeholder="Ngày xuống" />
    </td>
    <td>
        <input onchange="SumMoneyServiceCPM()" class="input-medium qty" type="text" style="width:100%" value="@ViewBag.Service.c_so_luong" placeholder="Số lượng">
    </td>
    <td>
        <input onchange="SumMoneyServiceCPM()" class="input-medium currency moneyUnit" style="width:100%" value="@ViewBag.Service.c_don_gia_sau_ck.ToString("#,##0")" type="text" data-thousands="," data-decimal="." data-precision="0" placeholder="Đơn giá">
    </td>
    <td>
        <input class="input-medium note" type="text" style="width:100%" value="@ViewBag.Service.c_note" placeholder="Ghi chú">
    </td>
    <td>
        <button type="button" onclick="minusCpm(this)" class="btn btn-minier btn-danger"><i class="icon-trash"></i></button>
    </td>
</tr>