@{
    Layout = null;
    int stt = 0;
    int sl = 0;
    double money = 0;
}
<div class="row-fluid">
    <table id="" class="table table-striped table-bordered table-hover">
        <thead>
            <tr align="center">
                <th style="width:3%">STT</th>
                <th style="width:15%">Web</th>
                <th style="width:20%">Chuyên mục</th>
                <th style="width:20%">Vị trí</th>
                <th style="width:7%">Miền</th>
                <th style="width:5%">Ngày lên</th>
                <th style="width:3%">SL</th>
                <th style="width:7%">Thành tiền</th>
                <th style="width:20%">Ghi chú</th>
            </tr>
        </thead>
        <tbody class="list">
            @if (ViewBag.realPR != null && ViewBag.realPR.Count > 0)
                {
                    foreach (var item in ViewBag.realPR)
                    {
                    stt++;
                    money += item.SoLuong * item.DonGia;
                    sl += item.SoLuong;
                <tr class="">
                    <td>@stt</td>
                    <td class="first">@Html.Raw(item.WebsiteName) </td>
                    <td>@Html.Raw(item.CategoryName)</td>
                    <td>@Html.Raw(item.LocationName)</td>
                    <td>@Html.Raw(item.TenVungMien)</td>
                    <td>@item.NgayLen.ToString("dd/MM/yyyy")</td>
                    <td>@item.SoLuong</td>
                    <td>@((item.SoLuong * item.DonGia).ToString("#,##0"))</td>
                    <td>@item.GhiChu</td>
                </tr>
                  }
               }
        </tbody>
        <tbody>
            <tr>
                <td colspan="6" style="text-align:right;color:red;font-size:1.2em"><b>Tổng</b></td>
                <td class="title-pu">@sl</td>
                <td class="title-pu">@money.ToString("#,##0")</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
