@{
    ViewBag.Title = Resources.Multi.ChangePassTitle;
}

<h3>
    @Resources.Multi.ChangePassTitle @Resources.Multi.lblSuccess
</h3>
<a class="btn btn-link" onclick="window.history.back()">@Resources.Multi.btnBack</a> |
<a class="btn btn-link" href="@Url.Content("~/Home/")">@Resources.Multi.LblHome</a>