@{
    Layout = null;
    int global = 0;
}
<style type="text/css">
    .body-print {
        margin: 0 auto;
        font-family: "Times New Roman";
        font-size: 12pt;
        color: #000;
        /*text-align: justify;*/
        margin: 0px auto;
        max-width: 750px;
        background-color: #fff;
        padding-bottom: 50px;
    }

    .title-row {
        font-size: 14pt;
    }

    .body-print ul {
        margin: 0;
        list-style-type: none;
    }

    .body-print li {
        margin: 5px 0;
    }

    .body-print .dot-line {
        display: inline-block;
        width: 83%;
        border-bottom: dotted 1px #a0bdc7;
        height: 16px;
    }

    table .dot-line {
        height: 16px;
        text-align: right;
    }

    .body-print .empty-line {
        display: inline-block;
        width: 83%;
        height: 16px;
    }

    .body-print .width-100px {
        width: 100px;
    }

    .right-chkb {
        margin-right: 40px;
    }

    .left10 {
        margin-left: 10px !important;
    }

    .value-show {
        margin-left: 10px;
    }

    input[type="text"].real-value, textarea {
        display: none;
        height: 12px;
    }

    table input[type="text"].real-value {
        height: 16px;
    }

    th .value-show, th .real-value {
        font-weight: normal;
    }
</style>
<div style="padding:0 40px; text-align:justify;padding-bottom: 100px;" class="body-print">
    <div class="text_head" id="print_header" style="height:60px;"></div>
    <h2 align="center" class="text_head" style="font-weight:bold;">BẢNG KÊ BỔ SUNG THÔNG TIN HỢP ĐỒNG</h2>
    <p><i><b><u>Lưu ý: </u></b> Nvkd có thể/hoặc không cần phải kê các nội dung có dấu (*)  </i></p>
    <input name="FKContractDraft" type="hidden" value="" />
    <div>
        <div>1.Tên KH <i>(đầy đủ):</i><div class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.CustomerName</span><input name="CustomerName" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" value="@ViewBag.itemAdditional.CustomerName" /></div></div>
        <div>
            <span class="title-row">2.Mã KH </span>
            <div style="width:18%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.CustomerCode</span><input name="CustomerCode" value="@ViewBag.itemAdditional.CustomerCode" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            <span class="title-row">3.Mã book chỗ</span>
            <div style="width:17%" class="dot-line empty-line"><span class="value-show"></span><input name="BookCode" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            <span class="title-row">4.Số hợp đồng </span>
            <div style="width:18%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.Code</span><input name="Code" value="@ViewBag.itemAdditional.Code" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
        </div>
        <div>
            <span class="title-row right-chkb">5.Loại KH:</span><span style="margin-right:10%">Trực tiếp<input value="1" name="CustomerType" class="left10" type="checkbox" /></span>
            <span class="title-row">Đại lý:</span>
            <span class="right-chkb">Vàng <input name="AgencyType" value="DL_VANG" class="left10" type="radio" /></span>
            <span class="right-chkb">Rubi <input name="AgencyType" value="DL_RUBI" class="left10" type="radio" /></span>
            <span class="right-chkb">Tital<input name="AgencyType" value="DL_TITAL" class="left10" type="radio" /></span>
            <span class="right-chkb">Basic<input name="AgencyType" value="DL_BASIC" class="left10" type="radio" /></span>
        </div>
        <div>
            <span class="title-row">6.Ngày giao HĐ 2 chiều cho kế toán: </span>
            <div style="width:20%" class="dot-line empty-line"><span class="value-show"></span><input name="DateRevenus" value="" onchange="hasValueChange(this)" class="real-value date-picker" type="text" style="width:95%" /></div>
            <span class="title-row right-chkb">Nợ HĐ<input value="1" name="HasOwe" class="left10" type="checkbox" /></span>
        </div>
        <div>
            <span class="title-row">7.Người giao:</span><div style="width:30%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.Deliver</span><input name="Deliver" value="@ViewBag.itemAdditional.Deliver" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            <span class="title-row">Nhóm:</span><div style="width:30%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.Team</span><input name="Team" value="@ViewBag.itemAdditional.Team" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
        </div>
        <div>
            <span class="title-row">8.Ngành hàng:</span>
            <div style="width:35%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.Category</span><input name="Category" value="@ViewBag.itemAdditional.Category" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            <span class="title-row">9.Nhãn hàng:</span>
            <div style="width:35%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.Labels</span><input name="Labels" value="@ViewBag.itemAdditional.Labels" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
        </div>
        <div>
            <span class="title-row">10.Phân loại doanh số:</span>
            <table id="ListStaffDraff" cellpadding="2" cellspacing="0" style="vertical-align:bottom;font-family:Times New Roman; PADDING-LEFT:5pt; border-collapse:collapse;border:solid windowtext 1.0pt; width:100%;" border="1">
                <tr align="center">
                    <th style="width:30%">NVKD</th>
                    <th style="width:5%">Tỷ lệ</th>
                    <th style="width:15%">Doanh số ký</th>
                    <th style="width:15%">Doanh số thực hiện <span style="font-weight:normal">(*)</span></th>
                    <th style="width:15%">DS chuyển năm sau <span style="font-weight:normal">(*)</span></th>
                    <th style="width:15%">DS khác<br /><i style="font-weight:normal">(ko tính cho nvkd)(*)</i></th>

                </tr>
                <tbody>
                    @if (ViewBag.listStaff != null)
                    {
                        int count = 0;
                        foreach (var item in ViewBag.listStaff)
                        {
                            
                                <tr class="group-staff">
                                    <td>
                                        <div style="width:100%;text-align:left;" class="dot-line empty-line">
                                            <span class="value-show"></span>
                                            <input value="@item.PKStaff" class="hidden-suggess item-PKStaff" type="hidden" />
                                            <input value="@item.StaffId" class="hidden-suggess item-staff" type="hidden" />
                                            <input value="@item.UnitId" class="hidden-suggess item-region" type="hidden" />
                                            <input value="@item.GroupId" class="hidden-suggess item-team" type="hidden" />
                                            @(Html.Kendo().AutoComplete()
                                    .Name("txt-EmployerName-" + global)
                                    .DataTextField("FullName")
                                    .Placeholder("Nhập tên nhân viên")
                                    .Filter("contains")
                                    .MinLength(1)
                                    .HtmlAttributes(new { style = "width:100%", @class = "real-value", @onfocus = "setGlb(" + global + ")" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("SuggestEmployer", "CRMContractList")
                                                .Data("onAdditionalDataTxt");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Events(e =>
                                    {
                                        e.Select("onSelect").Change("onChangeSelect");
                                    })
                                            )

                                            <script>
                                            $("#txt-EmployerName-@global").val('@Html.Raw(item.FullName)');
                                            </script>
                                            @{ global++;}
                                        </div>
                                    </td>
                                    <td><div style="width:100%;text-align:center" class="dot-line empty-line"><span class="value-show"></span><input name="Percent01" value="@item.Percent" onchange="resetRow(this,'PERCENT')" class="real-value item-percent" type="text" style="width:95%" /></div></td>
                                    <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input name="StrDSSign01" value="@item.Money.ToString("#,##0")" onchange="resetRow(this,'SIGN')" class="real-value item-sign currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                                    <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input name="StrDSReal01" value="@item.MoneyInYear.ToString("#,##0")" onchange="resetRow(this,'REAL')" class="real-value item-real currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                                    <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input name="StrDSNextYear01" value="@item.MoneyNextYear.ToString("#,##0")" onchange="resetRow(this,'NY')" class="real-value item-ny currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                                    <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input name="StrDSOther01" value="@item.MoneyWebOther.ToString("#,##0")" onchange="resetRow(this,'OTHER')" class="real-value item-other currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>

                                </tr>
                                                    count++;
                                                }
                                                if (count < 4)
                                                {
                                                    for (var i = count; i < 4; i++)
                                                    {
                                                        <tr class="group-staff">
                                                            <td>
                                                                <div style="width:100%;text-align:left;" class="dot-line empty-line">
                                                                    <span class="value-show"></span>
                                                                    <input value="" class="hidden-suggess item-PKStaff" type="hidden" />
                                                                    <input value="" class="hidden-suggess item-staff" type="hidden" />
                                                                    <input value="" class="hidden-suggess item-region" type="hidden" />
                                                                    <input value="" class="hidden-suggess item-team" type="hidden" />
                                                                    @(Html.Kendo().AutoComplete()
                                                                    .Name("txt-EmployerName-" + global)
                                                                    .DataTextField("FullName")
                                                                    .Placeholder("Nhập tên nhân viên")
                                                                    .Filter("contains")
                                                                    .MinLength(1)
                                                                    .HtmlAttributes(new { style = "width:100%", @class = "real-value", @onfocus = "setGlb(" + global + ")" })
                                                                    .DataSource(source =>
                                                                    {
                                                                        source.Read(read =>
                                                                        {
                                                                            read.Action("SuggestEmployer", "CRMContractList")
                                                                                .Data("onAdditionalDataTxt");
                                                                        })
                                                                        .ServerFiltering(true);
                                                                    })
                                                                    .Events(e =>
                                                                    {
                                                                        e.Select("onSelect").Change("onChangeSelect");
                                                                    })
                                                                    )

                                                                    @{ global++;}
                                                                </div>
                                                            </td>
                                                            <td><div style="width:100%;text-align:center" class="dot-line empty-line"><span class="value-show"></span><input value="" onchange="resetRow(this,'PERCENT')" class="real-value item-percent" type="text" style="width:95%" /></div></td>
                                                            <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input value="" onchange="resetRow(this,'SIGN')" class="real-value item-sign currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                                                            <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input value="" onchange="resetRow(this,'REAL')" class="real-value item-real currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                                                            <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input value="" onchange="resetRow(this,'NY')" class="real-value item-ny currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                                                            <td><div style="width:100%" class="dot-line empty-line"><span class="value-show"></span><input value="" onchange="resetRow(this,'OTHER')" class="real-value item-other currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>

                                                        </tr>
                                                                                }
                                                                            }
                                                                        }
                </tbody>



                <tr align="right" id="group-sum-money">
                    <td align="center"><b style="margin-left:10px">Tổng số</b></td>
                    <td align="center"><span class="item-percent">100</span></td>
                    <td>
                        <span class="item-sign">@ViewBag.itemAdditional.DSSign.ToString("#,##0")</span>
                        <input name="StrDSSign" type="hidden" value="@ViewBag.itemAdditional.DSSign.ToString("#,##0")" />
                    </td>
                    <td>
                        <span class="item-real">@ViewBag.itemAdditional.DSReal.ToString("#,##0")</span>
                        <input name="StrDSReal" type="hidden" value="@ViewBag.itemAdditional.DSReal.ToString("#,##0")" />
                    </td>
                    <td>
                        <span class="item-ny">@ViewBag.itemAdditional.DSNextYear.ToString("#,##0")</span>
                        <input name="StrDSNextYear" type="hidden" value="@ViewBag.itemAdditional.DSNextYear.ToString("#,##0")" />
                    </td>
                    <td>
                        <span class="item-other">@ViewBag.itemAdditional.DSOther.ToString("#,##0")</span>
                        <input name="StrDSOther" type="hidden" value="@ViewBag.itemAdditional.DSOther.ToString("#,##0")" />
                    </td>
                </tr>
            </table>

        </div>
        <div>
            <span class="title-row">11.Áp dụng gói bán hàng:</span>
            <span class="right-chkb">Gói thông thường <input name="PacketSale" value="NORMAL" class="left10" type="radio" /></span>
            <span class="right-chkb">Gói Khuyến mại <input name="PacketSale" value="SALE" class="left10" type="radio" /></span>
        </div>
        <div>
            <div class="title-row">12.Chiết khấu trong chính sách: <input value="1" name="DiscountOn" class="left10" type="checkbox" /></div>
            <div>
                <span class="right-chkb">Chiết khấu ngoài chính sách: <input value="1" name="DiscountOut" class="right-chkb" type="checkbox" /></span><span class="title-row">Mức CK thêm:</span>
                <div style="width:50%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MoneyDiscountOut.ToString("#,##0")</span><input name="StrMoneyDiscountOut" value="@ViewBag.itemAdditional.MoneyDiscountOut.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" type="text" style="width:95%" data-thousands="," data-decimal="." data-precision="0" /></div>
            </div>
            <div>Tổng giá trị xin thêm (chưa vat):</div>
            <div style="width:95%;" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.ToTalValueAdd</span><textarea name="ToTalValueAdd" onchange="hasValueChange(this)" class="real-value" type="text" style="width:100%;height:40px">@ViewBag.itemAdditional.ToTalValueAdd</textarea></div>
            <div style="width:95%" class="dot-line"></div>
            <div style="width:95%" class="dot-line"></div>
        </div>
        <div>
            <span class="title-row">13.Chi phí MKT</span>
            <table cellpadding="2" cellspacing="0" style="vertical-align:bottom;font-family:Times New Roman; PADDING-LEFT:5pt; border-collapse:collapse;border:solid windowtext 1.0pt; width:100%;" border="1">
                <tr align="center">
                    <th style="width:10%" rowspan="2">Nội dung</th>
                    <th colspan="2">Tổng số phải trả</th>
                    <th colspan="3">Phân bổ cho</th>
                </tr>
                <tr align="center">
                    <th style="width:15%">Tổng số</th>
                    <th style="color:red;width:15%">Trị giá vật phẩm</th>
                    <th style="width:15%">DS thực hiện(*)</th>
                    <th style="width:15%">DS chuyển năm sau<i>(*)</i></th>
                    <th style="width:15%">DS khác (**)</th>

                </tr>
                <tbody>
                    <tr>
                        <td>-MKT</td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKT.ToString("#,##0")</span><input name="StrMKT" value="@ViewBag.itemAdditional.MKT.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTValueItem.ToString("#,##0")</span><input name="StrMKTValueItem" value="@ViewBag.itemAdditional.MKTValueItem.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTReal.ToString("#,##0")</span><input name="StrMKTReal" value="@ViewBag.itemAdditional.MKTReal.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTNextYear.ToString("#,##0")</span><input name="StrMKTNextYear" value="@ViewBag.itemAdditional.MKTNextYear.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTOther.ToString("#,##0")</span><input name="StrMKTOther" value="@ViewBag.itemAdditional.MKTOther.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>

                    </tr>
                    <tr>
                        <td>-Khác</td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTO.ToString("#,##0")</span><input name="StrMKTO" value="@ViewBag.itemAdditional.MKTO.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTOValueItem.ToString("#,##0")</span><input name="StrMKTOValueItem" value="@ViewBag.itemAdditional.MKTOValueItem.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTOReal.ToString("#,##0")</span><input name="StrMKTOReal" value="@ViewBag.itemAdditional.MKTOReal.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTONextYear.ToString("#,##0")</span><input name="StrMKTONextYear" value="@ViewBag.itemAdditional.MKTONextYear.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTOOther.ToString("#,##0")</span><input name="StrMKTOOther" value="@ViewBag.itemAdditional.MKTOOther.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                    </tr>
                    <tr>
                        <td><b>Cộng</b></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTSum.ToString("#,##0")</span><input name="StrMKTSum" value="@ViewBag.itemAdditional.MKTSum.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTSumValueItem.ToString("#,##0")</span><input name="StrMKTSumValueItem" value="@ViewBag.itemAdditional.MKTSumValueItem.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTSumReal.ToString("#,##0")</span><input name="StrMKTSumReal" value="@ViewBag.itemAdditional.MKTSumReal.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTSumNextYear.ToString("#,##0")</span><input name="StrMKTSumNextYear" value="@ViewBag.itemAdditional.MKTSumNextYear.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                        <td><div style="width:100%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.MKTSumOther.ToString("#,##0")</span><input name="StrMKTSumOther" value="@ViewBag.itemAdditional.MKTSumOther.ToString("#,##0")" onchange="hasValueChange(this)" class="real-value currency" data-thousands="," data-decimal="." data-precision="0" type="text" style="width:95%" /></div></td>
                    </tr>
                </tbody>
            </table>
            <div style="font-size:11px"><i>(**)Khác: ngoài quy định</i></div>
            <div>
                <span class="title-row">Người nhận </span>
                <div style="width:35%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.Receiver</span><input name="Receiver" value="@ViewBag.itemAdditional.Receiver" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
                <span class="title-row">Bộ phận </span>
                <div style="width:35%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.AgentRe</span><input name="AgentRe" value="@ViewBag.itemAdditional.AgentRe" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            </div>
            <div>
                <span class="title-row">ĐTCQ </span>
                <div style="width:40%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.CoPhoneRe</span><input name="CoPhoneRe" value="@ViewBag.itemAdditional.CoPhoneRe" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
                <span class="title-row">ĐTDĐ </span>
                <div style="width:40%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.PhoneRe</span><input name="PhoneRe" value="@ViewBag.itemAdditional.PhoneRe" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            </div>
            <div>
                <span class="title-row">Số tài khoản (nếu có) </span>
                <div style="width:30%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.BankNumber</span><input name="BankNumber" value="@ViewBag.itemAdditional.BankNumber" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
                <span class="title-row">Tại ngân hàng</span>
                <div style="width:30%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.BankName</span><input name="BankName" value="@ViewBag.itemAdditional.BankName" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            </div>
        </div>
        <div>
            <span class="title-row">14.Thông tin NGƯỜI liên hệ thanh toán (bên khách hàng)</span>
            <div style="width:10%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.CustomerContact</span><input name="CustomerContact" value="@ViewBag.itemAdditional.CustomerContact" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            <span class="title-row">Bộ phận</span>
            <div style="width:10%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.AgentCus</span><input name="AgentCus" value="@ViewBag.itemAdditional.AgentCus" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
            <span class="title-row">ĐT</span>
            <div style="width:10%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.PhoneCus</span><input name="PhoneCus" value="@ViewBag.itemAdditional.PhoneCus" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
        </div>
        <div>
            <span class="title-row">14.Các thông tin khác</span>
            <div style="width:60%" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.InforOther</span><input name="InforOther" value="@ViewBag.itemAdditional.InforOther" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div>
        </div>
    </div>
    <table cellpadding="2" cellspacing="0" style="vertical-align:bottom;font-family:Times New Roman; border-collapse:collapse;width:100%;">
        <tr align="center">
            <th style="width:32%">NVKD</th>
            <th style="width:32%">Trưởng nhóm KD</th>
            <th style="width:32%">Trưởng/phó KD</th>
        </tr>
        <tbody>
            <tr>
                <td><div style="width:90%;margin-top:60px;text-align: center;" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.StaffSign</span><input name="StaffSign" value="@ViewBag.itemAdditional.StaffSign" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div></td>
                <td><div style="width:90%;margin-top:60px;text-align: center;" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.StaffTeamSign</span><input name="StaffTeamSign" value="@ViewBag.itemAdditional.StaffTeamSign" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div></td>
                <td><div style="width:90%;margin-top:60px;text-align: center;" class="dot-line empty-line"><span class="value-show">@ViewBag.itemAdditional.StaffLeadSign</span><input name="StaffLeadSign" value="@ViewBag.itemAdditional.StaffLeadSign" onchange="hasValueChange(this)" class="real-value" type="text" style="width:95%" /></div></td>

            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var listTaskBKBS = [];
    var iListBKBS = 0;
    var agenyType = '@ViewBag.itemAdditional.AgencyType';
    var packetSale = '@ViewBag.itemAdditional.PacketSale';
    var customerType = '@ViewBag.itemAdditional.CustomerType';
    $("input[name='CustomerType']").filter('[value=' + customerType + ']').prop('checked', true);
    $("input[name='AgencyType']").filter('[value=' + agenyType + ']').prop('checked', true);
    $("input[name='PacketSale']").filter('[value=' + packetSale + ']').prop('checked', true);
    hasValueChange();
    checkDisplayButton('@ViewBag.itemAdditional.Status');



    $(".empty-line").click(function () {
        $(".real-value").hide();
        $(".body-print input.real-value").each(function () {
            var value = $(this).val();
            $(this).parent().find(".value-show").text(value);
        })
        $(".value-show").show();
        var value = $(this).find("input.real-value").val();
        $(this).find(".real-value").show()
        $(this).find("input.real-value").show().focus().val(value);
        $(this).find(".value-show").hide();

    })
    $(".body-print").dblclick(function () {
        hideAllInput();
    })
    $(".real-value").keypress(function (e) {
        if (e.keyCode == 13) {
            hasValueChange();
        }
    });
    var DSSignContract = currencyToNumber($("#ctr-money-last").text());



</script>
