@model IEnumerable<ERPAPD.Models.DC_Location_District>
@{
    ViewBag.Title = Resources.Multi.ListOfDistrict;
    bool AllowCreate = (ViewData["AllowCreate"] != null && (bool)ViewData["AllowCreate"]);
    bool AllowUpdate = (ViewData["AllowUpdate"] != null && (bool)ViewData["AllowUpdate"]);
    bool AllowDelete = (ViewData["AllowDelete"] != null && (bool)ViewData["AllowDelete"]);
    bool AllowExport = (ViewData["AllowExport"] != null && (bool)ViewData["AllowExport"]);
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="row-fluid">
                <div id="newlistICareID" style="display: inline-block;">
                    <input type="text" id="DistrictName" name="DistrictName" placeholder="@Resources.Multi.Search @Resources.Multi.Follow.ToLower() @Resources.Multi.Multiple.ToLower() @Resources.Multi.MenuDistrict.ToLower() (@Resources.Multi.Space @Resources.Multi.By.ToLower() ;)" style="width: 250px;" />
                </div>
                <select name="select" id="ListAlias" class='chosen-select span2' style="width:250px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.Definition.ToLower()...">
                    <option></option>
                    <option value="">All</option>
                    @foreach (var alias in ViewBag.listalias)
                    {
                        <option value="@alias.AliasName">@alias.AliasName</option>
                    }
                </select>
                <select name="select" id="ListCountry" class='chosen-select span2' style="width:200px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.MenuCountryDefinition.ToLower()...">
                    <option></option>
                    <option value="">All</option>
                    @foreach (var country in ViewBag.listcountry)
                    {
                        <option value="@country.CountryName">@country.CountryName</option>
                    }
                </select>
                <select name="select" id="ListRegion" class='chosen-select span2' style="width:200px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.MenuRegionDefinition.ToLower()...">
                    <option></option>
                    <option value="">All</option>
                    @foreach (var region in ViewBag.listregion)
                    {
                        <option value="@region.RegionName">@region.RegionName</option>
                    }
                </select>
                <select name="select" id="ListCity" class='chosen-select span2' style="width:200px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.MenuCityDefinition.ToLower()...">
                    <option></option>
                    <option value="">All</option>
                    @foreach (var region in ViewBag.listcity)
                    {
                        <option value="@region.CityID">@region.CityName</option>
                    }
                </select>
                <button type="button" id="btnSearch" class="btn btn-primary btn-small" style="float:none;" onclick="filter()">@Resources.Multi.Filter</button>
            </div>

            @*<div class="widget-header widget-header-blue widget-header-flat">
                    <p style="font-size:14px">@Resources.Multi.Filter</p>

                    <span class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="icon-chevron-up"></i>
                        </a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row-fluid">
                            <div id="newlistICareID" style="display: inline-block;">
                                <input type="text" id="DistrictName" name="DistrictName" placeholder="@Resources.Multi.Search @Resources.Multi.Follow.ToLower() @Resources.Multi.Multiple.ToLower() @Resources.Multi.MenuDistrict.ToLower() (@Resources.Multi.Space @Resources.Multi.By.ToLower() ;)" style="width: 250px;" />
                            </div>
                            <select name="select" id="ListAlias" class='chosen-select span2' style="width:250px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.Definition.ToLower()...">
                                <option></option>
                                <option value="">All</option>
                                @foreach (var alias in ViewBag.listalias)
                                {
                                <option value="@alias.AliasName">@alias.AliasName</option>
                                }
                            </select>
                            <select name="select" id="ListCountry" class='chosen-select span2' style="width:200px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.MenuCountryDefinition.ToLower()...">
                                <option></option>
                                <option value="">All</option>
                                @foreach (var country in ViewBag.listcountry)
                                {
                                <option value="@country.CountryName">@country.CountryName</option>
                                }
                            </select>
                            <select name="select" id="ListRegion" class='chosen-select span2' style="width:200px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.MenuRegionDefinition.ToLower()...">
                                <option></option>
                                <option value="">All</option>
                                @foreach (var region in ViewBag.listregion)
                                {
                                <option value="@region.RegionName">@region.RegionName</option>
                                }
                            </select>
                            <select name="select" id="ListCity" class='chosen-select span2' style="width:200px;" multiple data-placeholder="@Resources.Multi.Select @Resources.Multi.MenuCityDefinition.ToLower()...">
                                <option></option>
                                <option value="">All</option>
                                @foreach (var region in ViewBag.listcity)
                                {
                                <option value="@region.CityName">@region.CityName</option>
                                }
                            </select>
                            <button type="button" id="btnSearch" class="btn btn-primary btn-small" style="float:none;" onclick="filter()">@Resources.Multi.Filter</button>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @* </ Hiện thị thông tin> *@
        @(Html.Kendo()
            .Grid(Model)
            .Name("Grid")
            .HtmlAttributes(new { style = "height: auto;" })
            .Columns(columns =>
            {
                columns.Bound(p => p.DistrictID).HeaderTemplate("<input style='text-align:center;opaDistrict:1;' type='checkbox' id='checkboxcheckAll' onclick='checkAll(this)' />").ClientTemplate("<input style='text-align:center' class='checkrowid' type='checkbox' id='#=DistrictID#' />").Width(35).Filterable(false).Sortable(false);
                columns.Bound(p => p.DistrictID).Width(80).Title(Resources.Multi.Code);
                columns.Bound(p => p.DistrictName).Width(150).Title(Resources.Multi.Name).HtmlAttributes(new { style = "background-color:\\#dff0d8;color:\\#468847" });
                columns.ForeignKey(p => p.CityID, (System.Collections.IEnumerable)ViewBag.listcity, "CityID", "CityName").EditorTemplateName("GridNullableForeignKey").Title(Resources.Multi.MenuCityDefinition).Width(250).HtmlAttributes(new { style = "background-color:rgb(223, 240, 216);color:rgb(70, 136, 71);" });
                columns.Bound(p => p.RegionName).Width(150).Title(Resources.Multi.MenuRegionDefinition);

                columns.Bound(p => p.CountryName).Width(150).Title(Resources.Multi.MenuCountryDefinition);
                columns.Bound(p => p.AliasName).Width(150).Title(Resources.Multi.Definition);
                columns.Bound(p => p.Active).Width(100).HtmlAttributes(new { style = "background-color:\\#dff0d8;color:\\#468847" }).Title(Resources.Multi.Active);
                columns.Bound(p => p.RowCreatedUser).Width(100).Title(Resources.Multi.CreatedBy).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal;vertical-align: top" });
                columns.Bound(p => p.RowCreatedTime).Width(100).Format("{0:" + Resources.Multi.DateFormat + "}").Title(Resources.Multi.CreatedAt).ClientTemplate("#=ConvertTimeZone(RowCreatedTime," + Constants.TIME_ZONE + ")#");
                columns.Bound(p => p.RowLastUpdatedUser).Width(100).Title(Resources.Multi.UpdatedBy).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal;vertical-align: top" });
                columns.Bound(p => p.RowLastUpdatedTime).Format("{0:" + Resources.Multi.DateFormat + "}").Width(100).Title(Resources.Multi.UpdatedAt).ClientTemplate("#if(kendo.toString(RowLastUpdatedTime,'dd/MM/yyyy') != '01/01/1900'){#" + "#= ConvertTimeZone(RowLastUpdatedTime," + Constants.TIME_ZONE + ") #" + "#}#").HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal;vertical-align: top" });
            })
            .ToolBar(toolbar =>
            {
                toolbar.Template(@<text>
                    <div class="pull-left">
                        @if (AllowCreate)
                        {
                            <a class="btn btn-success btn-small" href="javascript:void(0)" id="btnGridAdd">
                                @*<i class="icon-plus"></i>*@ @Resources.Multi.Add
                            </a>
                        }
                        @if (AllowUpdate)
                        {
                            <a class="btn btn-primary btn-small" href="javascript:void(0)" id="btnGridSave">
                                @*<i class="icon-ok"></i>*@ @Resources.Multi.GridSave
                            </a>
                            <a class="btn btn-default btn-small " href="javascript:void(0)" id="btnGridCancel">
                                @*<i class="icon-remove"></i>*@ @Resources.Multi.GridCancel
                            </a>
                        }
                        <div class="btn-group" style="margin-left: 20px">
                            <button data-toggle="dropdown" class="btn btn-small btn-inverse dropdown-toggle">
                                Thao tác khác
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="min-width:110px !important">
                                <li>
                                    @if (AllowDelete)
                                    {
                                        <a class="btn btn-small btn-danger" href="javascript:void(0)" id="btnGridDelete" onclick="showConfirmPopup(1)">
                                            @*<i class=" icon-trash">   </i>*@ @Resources.Multi.GridDelete
                                        </a>
                                    }
                                </li>
                                @*
                                    <li>
                                        @if (AllowExport)
                                        {
                                        <a class="btn btn-small btn-info exportClass" href="@Url.Content(" ~ />RegionDefinition/ExportExcel")" id="btnGridExport">
                                        <i class="fa fa-file-excel-o fa-1"></i> @Resources.Multi.GridExport
                                        </a>
                                        }
                                    </li>
                                    <li>
                                        <a class="btn btn-small btn-purple" style="text-align:left" href="javascript:void(0)" id="importOther">
                                            <i class="fa fa-file-excel-o fa-1"></i> @Resources.Multi.GridImport
                                        </a>
                                    </li>*@
                            </ul>
                        </div>


                    </div>
                </text>);
            @*toolbar.Create().Text(Resources.Multi.Add).HtmlAttributes(new { @style = "display:" + (AllowCreate ? "inline-block" : "none") });
                toolbar.Save().CancelText(Resources.Multi.Cancel).SaveText(Resources.Multi.Save).HtmlAttributes(new { @style = "display:" + (AllowUpdate ? "inline-block" : "none") });
                toolbar.Custom()
                .Text(Resources.Multi.Delete)
                .HtmlAttributes(new { @id = "btnDeleteLibrary", @class = "btn btn-danger", @style = "display:" + (AllowDelete ? "inline-block" : "none"), @Href = "javascript:Delete()" });

                toolbar.Custom()
                .Text(Resources.Multi.Export)
                .HtmlAttributes(new { @class = "exportClass btn btn-info", @style = "margin-left:5px" })
                .Url(Url.Action("ExportExcel", "District", new { filter = "~", sort = "~", DistrictID = "~" }));
                toolbar.Custom()
                .Text(Resources.Multi.Import)
                .HtmlAttributes(new { id = "importOther", @class = "btn btn-purple", Href = "javascript:void(0)" });*@

            })
                                            .Events(events => { events.DataBound("dataBound"); events.DetailExpand("detailExpand"); })
                                            .Pageable(pager => pager.PageSizes(new[] { 50, 100, 200, 300 }))
                                            .Navigatable()
                                            .Editable(editable => editable.Mode(GridEditMode.InCell))
                                            .Scrollable(scrollable => scrollable.Virtual(false))
                                            .Sortable()
                //.Selectable(selectable => selectable.Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .PageSize(50)
                                            .Events(events => { events.Error("error_handler"); events.RequestEnd("onRequestEnd"); })
                                            .Model(model =>
                                            {
                                                model.Id(p => p.DistrictID);
                                                model.Field(p => p.DistrictID).Editable(false);
                                                model.Field(p => p.RowCreatedTime).Editable(false);
                                                model.Field(p => p.RowCreatedUser).Editable(false);
                                                model.Field(p => p.RowLastUpdatedTime).Editable(false);
                                                model.Field(p => p.RowLastUpdatedUser).Editable(false);
                                                model.Field(p => p.Active).DefaultValue(true);
                                                model.Field(p => p.CountryName).Editable(false);
                                                model.Field(p => p.AliasName).Editable(false);
                                                model.Field(p => p.RegionName).Editable(false);
                                            })
                                            .Events(events => { events.Error("error_handler"); events.RequestEnd("onRequestEnd"); })
                                            .Read("District_Read", "CRMDistrict")
                                            .Create("District_Create", "CRMDistrict")
                                            .Update("District_Update", "CRMDistrict")
                                            )
        )
    </div>
</div>
@Html.Partial("_popup")

@(Html.Kendo()
    .Window()
    .Name("windowimport")
    .Title("ImportForm")
    .Content(@<text>
        <div class="row-fluid">
            <div class="span7">
                <form id="importform" action="@Url.Content(" ~ />District/ImportFromExcel")" method="post" class="form-horizontal" enctype="multipart/form-data" style="margin-bottom:0px;">
                    <input type="file" id="FileUpload" name="FileUpload" />
                </form>
            </div>
            <button type="button" id="btnImport" class="btn btn-purple btn-small span2" style="float: right;">Import</button>
        </div>
        <div class="row-fluid">
            <a id="btndownload" style="display: none" class="btn btn-warning btn-small">@Resources.Multi.DownloadTemplateError</a>
        </div>
    </text>)
                    .Draggable()
                    .Resizable()
                    .Visible(false)
                    .Width(1000)
                    .Actions(actions => actions.Close())

)
<script>
    $("#ListAlias").chosen();
    $("#ListCountry").chosen();
    $("#ListRegion").chosen();
    $("#ListCity").chosen();
    $('#FileUpload').ace_file_input({
        no_file: 'No File ...',
        btn_choose: 'Choose',
        btn_change: 'Change',
        droppable: false,
        onchange: null,
        thumbnail: false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
    });
    $('#importOther').bind('click', function () {
        $("#windowimport").kendoWindow({
            actions: {}, /*from Vlad's answer*/
            draggable: true,
            height: "300px",
            modal: true,
            resizable: false,
            width: "500px",
            visible: false /*don't show it yet*/
        }).data("kendoWindow").center().open();
    });
    $('#btnImport').bind('click', function () {
        $('#importform').submit();
    });
    (function () {
        $("#importform").ajaxForm({
            beforeSend: function () {
                $("#windowimport").data("kendoWindow").close();
                $(document).ajaxStart($.blockUI({ message: '<i class="icon-spinner icon-spin blue bigger-125" style="font-size:30px;"></i>', theme: false })).ajaxStop($.unblockUI);
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.success) {
                    $("#Grid").data("kendoGrid").dataSource.read();
                    $.unblockUI;
                    $.gritter.add({
                        title: '',
                        text: 'Import successfully ' + data.total + ' record(s)',
                        class_name: 'gritter-success'
                    });
                    if (data.totalError > 0) {
                        $("#windowimport").data("kendoWindow").open();
                        $('#btndownload').css('display', 'inline-block');
                        $('#btndownload').attr('href', r + "/PotentialCustomer/Download?file=" + data.link);
                    }
                    else {
                        $('#btndownload').css('display', 'none');
                        $('#btndownload').attr('href', "");
                    }


                }
                else {
                    $.gritter.add({
                        title: '',
                        text: 'Import Error',
                        class_name: 'gritter-error'
                    });
                    $.unblockUI;
                }
            },
            complete: function (xhr) {

            }
        });

    })();
    function checkAll(e) {
        var x = $(e).prop('checked');
        $('#Grid').find(".checkrowid").each(function () {
            $(this).prop('checked', x);
        });
    }
    $(window).resize(function () {
        resizeGrid();
    });
    var expandedRow;
    var curunitid;
    function detailExpand(e) {
        // Only one open at a time
        if (expandedRow != null && expandedRow[0] != e.masterRow[0]) {
            var grid = $('#Grid').data('kendoGrid');
            grid.collapseRow(expandedRow);
        }
        expandedRow = e.masterRow;
        var masterDataItem = $('#Grid').data('kendoGrid').dataItem(expandedRow);
        curunitid = masterDataItem.ExamID;
    }
    function dataBound(e) {
        resizeGrid();
        var grid = this;
        var requestObject = (new kendo.data.transports["aspnetmvc-server"]({ prefix: "" }))
       .options.parameterMap({
           page: grid.dataSource.page(),
           sort: grid.dataSource.sort(),
           filter: grid.dataSource.filter()
       });
        //var $exportLink = grid.element.find('.exportClass');
        //var href = $exportLink.attr('href');
        //href = href.replace(/sort=([^&]*)/, 'sort=' + requestObject.sort || '~');
        //href = href.replace(/filter=([^&]*)/, 'filter=' + (requestObject.filter || '~'));
        //$exportLink.attr('href', href);
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "@Resources.Multi.Error:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                    $("#Grid").data("kendoGrid").dataSource.read();
                }
            });
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '',
                // (string | mandatory) the text inside the notification
                text: message,
                class_name: 'gritter-error'
            });
        }
    }
    function onRequestEnd(e) {

        if (e.type == "update" && !e.response.Errors) {
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '',
                // (string | mandatory) the text inside the notification
                text: '@Resources.Multi.Update @Resources.Multi.Successfully',
                class_name: 'gritter-success'
            });
            $("#Grid").data("kendoGrid").dataSource.read();
        }
        if (e.type == "create" && !e.response.Errors) {
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '',
                // (string | mandatory) the text inside the notification
                text: '@Resources.Multi.Create @Resources.Multi.Successfully',
                class_name: 'gritter-success'
            });
            $("#Grid").data("kendoGrid").dataSource.read();
        }
    }
    function resizeGrid() {
        var offsetbottom = parseInt($(window).height()) - parseInt($('#Grid').offset().top);
        var gridElement = $("#Grid");
        dataArea = gridElement.find(".k-grid-content"),
        otherElements = gridElement.children().not(".k-grid-content"),
        otherElementsHeight = 0;
        otherElements.each(function () {
            otherElementsHeight += $(this).outerHeight();
        });
        dataArea.height(offsetbottom - otherElementsHeight - 30);
    }
    $('.icon-chevron-up').bind('click', function () {
        setInterval(function () {
            resizeGrid();
        }, 500)
    });
    function filter() {

        grid = $("#Grid").data("kendoGrid");
        var DistrictName = $("#DistrictName").val();
        var ListAlias = $("#ListAlias option:selected");
        var ListCountry = $("#ListCountry option:selected");
        var ListRegion = $("#ListRegion option:selected");
        var ListCity = $("#ListCity option:selected");
        var filter = { logic: "and", filters: [] };
        var filterDistrictName = { logic: "or", filters: [] };
        var filterListAlias = { logic: "or", filters: [] };
        var filterListCountry = { logic: "or", filters: [] };
        var filterListRegion = { logic: "or", filters: [] };
        var filterListCity = { logic: "or", filters: [] };
        if (DistrictName) {
            for (var i = 0; i < DistrictName.split(';').length; i++) {
                filterDistrictName.filters.push({ field: "DistrictName", operator: "contains", value: DistrictName.split(';')[i] });
            }
            filter.filters.push(filterDistrictName);
        }
        if (ListAlias.length > 0) {
            for (var i = 0; i < ListAlias.length; i++) {
                var option = ListAlias[i].value;
                filterListAlias.filters.push({ field: "AliasName", operator: "contains", value: option });
            }
            filter.filters.push(filterListAlias);
        }
        if (ListCountry.length > 0) {
            for (var i = 0; i < ListCountry.length; i++) {
                var option = ListCountry[i].value;
                filterListCountry.filters.push({ field: "CountryName", operator: "contains", value: option });
            }
            filter.filters.push(filterListCountry);
        }
        if (ListRegion.length > 0) {
            for (var i = 0; i < ListRegion.length; i++) {
                var option = ListRegion[i].value;
                filterListRegion.filters.push({ field: "RegionName", operator: "contains", value: option });
            }
            filter.filters.push(filterListRegion);
        }
        if (ListCity.length > 0) {
            for (var i = 0; i < ListCity.length; i++) {
                var option = ListCity[i].value;
                filterListCity.filters.push({ field: "CityID", operator: "contains", value: option });
            }
            filter.filters.push(filterListCity);
        }
        grid.dataSource.filter(filter);
    }
    $('#DistrictName').bind('keypress', function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            filter();
        }
    });

    $('#btnGridAdd').click(function () {
        $("#Grid").data("kendoGrid").dataSource.insert();
    })

    $('#btnGridSave').bind('click', function () {
        if ($('#Grid').data('kendoGrid').dataSource.hasChanges() == true) {
            $('#Grid').data('kendoGrid').saveChanges();
        }
    })

    $('#btnGridCancel').bind('click', function () {
        $('#Grid').data('kendoGrid').cancelChanges();
    })
</script>
<style>
    .dropdown-menu > li > a {
        margin-bottom: 4px !important;
        text-align: left;
    }
</style>
