@{
    ViewBag.Title = "Chăm sóc khách hàng";
}
<script src="@Url.Content("~/Scripts/utilitycommon.js")" type="text/javascript"></script>
@Html.Partial("_modal_cs")
<div class="row-fluid">
    <div class="span7">
        <div class="row-fluid">
            @Html.Partial("_CustomerInfo")
        </div>      
    </div>
    <div class="span5">
        <div class="row-fluid">
            @Html.Partial("_ToDoList")
        </div>
        <div class="row-fluid">
            @Html.Partial("Emulation_notification")
        </div>
    </div>
</div>




